
<h2><%= pet.pet_name %></h2>

<p><img src="<%= pet.image_url %>" alt=""></p> 
<p>Coat: <%= pet.pet_coat %> </p>
<p>Breed: <%= pet.pet_breed %> </p>
<p>Weight: <%= pet.pet_weight %>kg</p>
<p><%= pet.pet_description %></p>

<form action="/pets/<%= pet.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
</form>


<a href="/pets/<%= pet.id %>/edit">Edit Pet</a>